.button-group {
  display: flex;
}

.twoGroup {
  margin: 0 5px;
  display: flex;
  flex: 1;
}

.twoGroup > * {
  margin: auto;
}

.volume-button {
  background-color: transparent;
}

.volumeLine,
.shortLine {
  position: relative;
  width: 200px;
  height: 4px;
  background-color: var(--green);
  margin-top: 30px;
}

.shortLine {
  /* align-items: center; */
}

.slider {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--violet);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
