.button-group {
  display: flex;
}

.twoGroupt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.twoGroup > * {
  margin: auto;
}

.volume-button {
  background-color: transparent;
}

.volumeLine,
.shortLine {
  position: relative;
  width: 200px;
  height: 4px;
  background-color: var(--green);
  margin-top: 30px;
}

.soundName {
  margin: 10px 0;
  font-family: 'Roboto', sans-serif; 
  font-size: 40px;
  color: var(--green); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}


.slider {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--violet);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
